[project]
	description = Software Carpentry introduction to Python for novices using inflammation data.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mary Haley (marylhaley)
[access "refs/for/refs/*"]
	read = group user/Mary Haley (marylhaley)
	push = group user/Mary Haley (marylhaley)
	label-Code-Review = -2..+2 group user/Mary Haley (marylhaley)
	label-Verified = -1..+1 group user/Mary Haley (marylhaley)
	rebase = group user/Mary Haley (marylhaley)
	removeReviewer = group user/Mary Haley (marylhaley)
	submit = group user/Mary Haley (marylhaley)
[access "refs/heads/*"]
	read = group user/Mary Haley (marylhaley)
	create = group user/Mary Haley (marylhaley)
	push = +force group user/Mary Haley (marylhaley)
	pushMerge = group user/Mary Haley (marylhaley)
[access "refs/tags/*"]
	push = group user/Mary Haley (marylhaley)
	push = +force group user/Mary Haley (marylhaley)
